{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="post-preview">
                <h2 class="post-title">
                    Over ons
                </h2>
                <p>
                    PHPNL is een slack team opgezet door <a href="https://twitter.com/jelrikvh">Jelrik van Hal</a>
                    en <a href="https://twitter.com/jaytaph">Joshua Thijssen</a> tijdens de PHPBenelux 2015 
                    conferentie om snel een bestandje te copy/pasten naar de ander toe. Gezien we allebei slack 
                    hadden draaien, maar niet bij elkaar in een slack-team zaten, hebben we maar een eigen 
                    team opgezet waar ook alle andere developers welkom zijn om zo een (volgende) online 
                    community te vormen. Het resultaat: bijna 100 team-leden binnen een krappe twee weken!
                </p>
        </div>
        <hr>
        <div class="post-preview">
                <h2 class="post-title">
                    Waarom slack?
                </h2>
                <p>
                    Slack is een prachtige communicatietool die het beste van andere tools zoals IRC & Skype,
                    combineert. Waar Skype niet echt in staat is om om te gaan met "grote" groepen, en IRC niet
                    altijd even makkelijk is om mee te werken, is slack in staat om dit allemaal wel te doen.
                </p>

                <p>
                    Maar slack is meer dan gewoon een communicatietool: het biedt ook de mogelijkheid tot
                    vergaande automatisering: zo draait menig team monitoring en logging via slack, en is het
                    zelfs mogelijk om direct applicatie deploys vanuit slack te starten!
                </p>
        </div>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                Meld je aan!
            </h2>
            <p>Via het onderstaande formulier kun je je aanmelden voor een slack invite. Daarmee kun je je
                eigen account aanmaken.</p>

            {{ render('/slack') }}

        </div>
    </div>
</div>
{% endblock %}
